/*StairWorx Colors: #002a54,#8a2529,#333333,#f0f0f0,#a8a8a8,#104759*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container {
    color: #f0f0f0;
    background-color: #333333;
    display:flex;
    width: 361.39;
    height: 110px;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    font-weight: 600px;
    font-style: italic;
    padding-top: 10px;       
}

.logo-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: ;
    height: 80px;
    width: 320px;
    position:fixed;
    padding-top: 10px;
}

.logo-text {
    display: flex;
    font-size: 25px;
    text-align: center;
    font-weight: 600px;
    font-style: italic;
    position: fixed;
    padding-top: 75px;      
}

.menu-container {
    background-color: #104759;
    display: flex;
    justify-content: center;
}

.menu {
    background-color: #104759;
    width: 800px;
    height: 30px;
    display: flex;
    align-items: center;
}

/*.menu:hover {
    background-color: #002a54;
    width: 750px;
    display: flex;
    padding: 5px;
}*/

.date {
    color: #f0f0f0;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30px;
    font-size: 20px;
    padding: 10px;
}

.date:hover {
    background-color: #002a54;
}

.view_schedule {
    color: #f0f0f0;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30px;
    font-size: 20px;
    padding: 10px;
}

.view_schedule:hover {
    background-color: #002a54;
}

.create_work_order {
    color: #f0f0f0;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30px;
    font-size: 20px;
    padding: 10px;
}

.create_work_order:hover {
    background-color: #002a54;
}
.logout {
    color: salmon;
    font-weight: bolder;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 30px;
    font-size: 20px;
    padding: 10px;
}

.logout:hover {
    background-color: #002a54;
}

.signup-container {
    display: flex;
    background-color: #104759;
    justify-content: center;
    width: 800px;
    height:auto;
    margin: auto;
    padding-bottom: 20px;
}

.input {
    margin-top: 20px;
    color: #f0f0f0;
    font-size: 25px;
    text-align: center;
}

.signup {
    margin-left: auto;
}

.greeting {
    font-style: italic;
    margin-top: 20px;
    color: salmon;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: -10px;
}



#user_type {
    margin: 5px 0px 15px 0px;
    width: 300px;
    font-size: 25px;
    text-align: center;
}

#user_name {
    margin: 5px 0px 15px 0px;
    width: 300px;
    font-size: 25px;
    text-align: center;
}

input[type='password'] {
    font-family: Verdana;
    margin: 5px 0px 15px 0px;
    width: 300px;
    font-size: 25px;
    text-align: center;
}