/*StairWorx Colors: #002a54,#8a2529,#333333,#f0f0f0,#a8a8a8,#104759*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    color: #f0f0f0;
    background-color: #333333;
    align-items: center;
    font-size: 25px;
    text-align: center;
    font-weight: 600px;
    font-style: italic;
}

.logo-picture {
    height: 87px;
    width: 400px;
}

.date {
    display: flex;
    justify-content: center;
    background-color: #333333;
    color: #f0f0f0;
}

.body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.menu-container {
    color: #002a54;
}

.menu-item {
    height: 30px;
    font-size: 20px;
}

.menu-item:hover {
    background-color: #333333;
    color: #f0f0f0;
}

.signup-container {
    display: flex;
    background-color: #104759;
    height:400px;
}

.input {
    color: #f0f0f0;
    font-size: 25px;
    text-align: center;
    padding: 8px;
}

#user_type {
    width: 300px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

#user_name {
    width: 300px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

input[type='password'] {
    font-family: Verdana;
    width: 300px;
    font-size: 25px;
    text-align: center;
}

.greeting {
    font-style: italic;
    margin-top: 20px;
    color: salmon;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: -10px;
}